streamlit
langchain
langchain-core
langchain-community
langchain-openai
chromadb
openai
faiss-cpu
tiktoken
python-dotenv
requests
pyPDF2
protobuf==3.20.3
opentelemetry-api==1.20.0
opentelemetry-sdk==1.20.0
opentelemetry-exporter-otlp==1.20.0
